.ed,.high,.low,.status {
    background-color: #222222;
    color: #DDDDDD;
    font-family: monospace;
    font-size: large;
}   
.ed {
    color: #DDD;
    white-space: pre;
}         
.high, .low {
    color: #AAA;
    user-select: none;
}
.ed, .high, .low, .status {
    padding-left: 3px;
    padding-right: 3px;
}
.lineNumber {
    border-right: 2px solid #555;
    padding-right: 3px;
    margin-right: 3px;
}
.hideElement {
    display: none;
}
.basicButton {
    width: 12em;
}
.miniButton {
    width: 6em;
}
#format {
    display: inline-block;
    width: 5em;
}
#length {
    display: inline-block;
    width: 5em;
}
#mainMenu {
    position: fixed;
    top: 0px;
    background-color: #222;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 1em;
}
#mainMenu::before {
    content: '...'
}
#mainMenu * {
    display: none;
}
#mainMenu:hover {
    height:fit-content;
}
#mainMenu:hover::before {
    content: '';
}
#mainMenu:hover * {
    display: inline;
}
#mainContent {
    margin-top: 2em;
}
.hideStatus {
    display: none !important;
}