:root {
    --line-size: 80ch;
}
.aline {
    scroll-snap-align: start end;
}
.lineBody {
    width: 100%;
    padding-bottom: 3px;
}
.ed,.high,.low,.status {
    background-color: #222222 !important;
    color: #DDDDDD !important;
    font-family: monospace !important;
    font-size: large !important;
    border: none !important;
    width: var(--line-size) !important;
    height: 1.1em;
}   
.ed:focus, .high:focus, .low:focus {
    color: #2D2 !important;
}
.ed {
    color: #DDD !important;
    white-space: pre !important;
}         
.high, .low {
    color: #AAA !important;
    user-select: none !important;
}
.ed, .high, .low, .status {
    padding-left: 3px;
    padding-right: 3px;
}
.replace {
    caret-color: red;
}
.lineNumber {
    border-right: 2px solid #555;
    padding-right: 3px;
    margin-right: 3px;
}
.hideElement {
    display: none !important;
}
.basicButton {
    width: 12em;
}
.miniButton {
    width: 6em;
}
#format {
    display: inline-block;
    width: 5em;
}
#length {
    display: inline-block;
    width: 5em;
}
#mainMenu {
    position: fixed;
    top: 0px;
    background-color: rgba(2,2,2,0.5);
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 1em;
}
#mainMenu::before {
    content: '...'
}
#mainMenu * {
    display: none;
}
#mainMenu:hover {
    height:fit-content;
}
#mainMenu:hover::before {
    content: '';
}
#mainMenu:hover * {
    display: inline;
}
#mainContent {
    margin-top: 2em;
}
.hideStatus {
    display: none !important;
}